<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginawebJhonatan</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
          <h1> Hello world {{title}}</h1>
          <button (click)="changeTitle()">Change</button>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
         </nav>

         <section class="textos-header">
            <h1>Potencia tus ventas al menos 200% </h1>
            <h2>Con una pagina web potente</h2>
         </section>
         <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>

    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestro Producto</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="https://img.freepik.com/vector-gratis/crecimiento-ventas-analitica-comercio-analisis-beneficios-analista-negocios-plan-marketing-marketologist-personaje-dibujos-animados-portapapeles-ilustracion-metafora-concepto-aislado-vector_335657-2756.jpg?w=826&t=st=1677624409~exp=1677625009~hmac=7cd745eed2be51de824d096155a4a84051bb66e8669c9d51794b1c3964e54bb1" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sunt eius aliquid, quam est distinctio odit itaque deleniti minima earum placeat expedita voluptatum a optio inventore! Incidunt qui inventore natus.
                    </p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sunt eius aliquid, quam est distinctio odit itaque deleniti minima earum placeat expedita voluptatum a optio inventore! Incidunt qui inventore natus.
                    </p>
                </div> 
            </div>
            
          </section>
          <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Portafolio</h2>
                <div class="galeria-port">
                    <div class="imagen-port">
                        <img src="/img/img1.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img2.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img3.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img4.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img5.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img6.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img" >
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="/img/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <img src="/img/objetivo.png" alt="" class="objetivo-img">
                            <p>Nuestro Trabajo</p>
                        </div>
                    </div>
                     
                </div>
            </div>
          </section>
          <section class="clientes-contenedor">
            <h2 class="titulo">Nuestros Clientes</h2>
            <div class="cards">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFjZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="">
                    <div class="contenido-texto-card"> <h4>Name</h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, enim.</div>
                    
                </div>
                <div class="card">
                    <img src="/img/clients.jpg" alt="">
                    <div class="contenido-texto-card"> <h4>Name</h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero, enim.</div>
                    
                </div>
            </div>

          </section>

          <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Nuestros servicios</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="https://img.freepik.com/vector-premium/poner-dinero-vector-alcancia-feliz-matrimonio-poniendo-monedas-hucha-presupuesto-familiar-hogar_194360-62.jpg?w=1380" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nobis.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="https://img.freepik.com/vector-premium/concepto-centro-contacto_107173-16730.jpg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nobis.</p>
                    </div>
                    <div class="servicio-ind">
                        <img src="https://img.freepik.com/vector-premium/concepto-gestion-procesos-negocio_107173-16735.jpg" alt="">
                        <h3>Name</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nobis.</p>
                    </div>
                </div>
            </div>
          </section>
</main>
<footer>
    <div class="contenedor-footer">
        <div class="contenedor-foo">
            <h4>Location</h4>
            <p>87946216</p>
        </div>
        <div class="contenedor-foo">
            <h4>Email</h4>
            <p>jgga02@gmail.com</p>
        </div>
        <div class="contenedor-foo">
            <h4>Phone</h4>
            <p>3008039261</p>
        </div>


    </div>
    
    <h2 class="titulo-final">&copy JhonatanGamarra</h2>
</footer>
    
</body>
</html>